# Input Filenames Here

`season_data_file` is the data file from which to create features (could be only fraction of regular season in future). `team_features_output_file` is the filename where the features for each team will be saved.

In [1]:
season_data_file = 'data/RegularSeasonDetailedResults.csv' 
team_features_output_file = 'data/team_features.csv'

In [2]:
import pandas as pd
import numpy as np

season_df = pd.read_csv(season_data_file)
teams_df = pd.read_csv('data/Teams.csv')
team_name = dict(zip(teams_df['Team_Id'].values, teams_df['Team_Name'].values))
team_id = dict(zip(teams_df['Team_Name'].values, teams_df['Team_Id'].values))

# Create dictionaries for boolean masks
seasons = season_df['Season'].unique()
in_season = dict(zip(seasons, [season_df['Season'] == i for i in seasons]))

team_ids = teams_df['Team_Id'].unique()
is_winner = dict(zip(team_ids, [season_df['Wteam'] == i for i in team_ids]))
is_loser = dict(zip(team_ids, [season_df['Lteam'] == i for i in team_ids]))
did_play = dict(zip(team_ids, [(season_df['Wteam'] == i) | (season_df['Lteam'] == i) for i in team_ids]))# winner or loser

is_valid = season_df['Wteam'] != 0

def avg(feature): # pass string for feature (without W or L to get a function back that calculates average for the season)
    def avg_feat(team):
        f = pd.concat([season_df.loc[is_winner[team['Team_Id']] & in_season[team['Season']] & is_valid, 'W'+feature], season_df.loc[is_loser[team['Team_Id']] & in_season[team['Season']] & is_valid, 'L'+feature]])
        return np.round(f.mean(), decimals=2)
    avg_feat.__name__ = 'avg_'+feature
    return avg_feat

def std(feature): # pass string for feature (without W or L to get a function back that calculates stdev for the season)
    def std_feat(team):
        f = pd.concat([season_df.loc[is_winner[team['Team_Id']] & in_season[team['Season']] & is_valid, 'W'+feature], season_df.loc[is_loser[team['Team_Id']] & in_season[team['Season']] & is_valid, 'L'+feature]])
        return np.round(f.std(), decimals=2)
    std_feat.__name__ = 'std_'+feature
    return std_feat

# ADD NEW TEAM FEATURES HERE (at bottom of cell below)

Add your new features specific to a team here, see tutorial at bottom of notebook.  You can create features that generate simple averages or standard deviations of features in the detailed data using the avg and std functions above.  What you add here to `teamfList` are the features that will be appended to the data file.

In [3]:
def wins(team):  
    return season_df.loc[is_winner[team['Team_Id']] & in_season[team['Season']] & is_valid].shape[0]

In [7]:
teamfList = [wins]
for f in ['fgm', 'fga', 'fgm3', 'fga3', 'ftm', 'fta', 'or', 'dr', 'ast', 'to', 'stl', 'blk', 'pf']:
    teamfList.append(avg(f))
    teamfList.append(std(f))
print("Team Features added = {0}".format([f.__name__ for f in teamfList]))

Team Features added = ['wins', 'avg_fgm', 'std_fgm', 'avg_fga', 'std_fga', 'avg_fgm3', 'std_fgm3', 'avg_fga3', 'std_fga3', 'avg_ftm', 'std_ftm', 'avg_fta', 'std_fta', 'avg_or', 'std_or', 'avg_dr', 'std_dr', 'avg_ast', 'std_ast', 'avg_to', 'std_to', 'avg_stl', 'std_stl', 'avg_blk', 'std_blk', 'avg_pf', 'std_pf']

In [11]:
#USE THESE TWO LINES TO REGENERATE ALL THE TEAM FEATURES
team_features_df = pd.DataFrame([[team_ID, season] for team_ID in team_ids for season in seasons], columns = ['Team_Id', 'Season'])
team_features_df['team_name'] = team_features_df['Team_Id'].map(team_name)

#USE THIS LINE TO ADD TO THE EXISTING TEAM FEATURES
#team_features_df = pd.read_csv(team_features_output_file)

for feature in teamfList:
    team_features_df[feature.__name__] = team_features_df.apply(feature, axis=1)

team_features_df = team_features_df.replace(np.nan, 0)
team_features_df.to_csv(team_features_output_file, encoding='ascii')
team_features_df.tail()

Features added = ['wins', 'avg_fgm', 'std_fgm', 'avg_fga', 'std_fga', 'avg_fgm3', 'std_fgm3', 'avg_fga3', 'std_fga3', 'avg_ftm', 'std_ftm', 'avg_fta', 'std_fta', 'avg_or', 'std_or', 'avg_dr', 'std_dr', 'avg_ast', 'std_ast', 'avg_to', 'std_to', 'avg_stl', 'std_stl', 'avg_blk', 'std_blk', 'avg_pf', 'std_pf']

KeyboardInterrupt:

# Input Filenames for Generating Features for the Games

`training_data_file` is the data file we want to use as training data (could include part of regular season in addition to tourney in future). `team_features_input_file` is the input file we want to use for the team features (generated above--default is `team_features_output_file`, i.e. what was used for output above).  `training_data_output_file` is the filename for the training data with all the games.

In [15]:
training_data_file = 'data/TourneyDetailedResults.csv'
team_features_input_file = team_features_output_file
training_data_output_file = 'data/data.csv'

# Randomizing the Winning Team and Adding Features

We first randomly chooses the winner to be team 1 or team 0.  The result is stored in `tourney_df('Winner')` and the ID corresponding to team0 and team1 are in `tourney_df('team0')` and `tourney_df('team1')`, respectively.  We also add all the features in `data/team_features.csv` for team0 and team1.

In [16]:
tourney_df = pd.read_csv(training_data_file)

Ngames = tourney_df.shape[0]
print("{0} tournament games in the dataset".format(Ngames))

np.random.seed(0) # seed so we always get same answer
tourney_df['team0Win'] = np.random.randint(2,size=Ngames)

def team0(game):
    if game['team0Win'] == 1:
        return game['Wteam']
    else:
        return game['Lteam']

def team1(game):
    if game['team0Win'] == 1:
        return game['Lteam']
    else:
        return game['Wteam']

team_features_df = pd.read_csv(team_features_input_file, index_col=0)
seasons = tourney_df['Season'].unique()
in_season = dict(zip(seasons, [team_features_df['Season'] == i for i in seasons]))

def feature01(feature):
    def mod(game):
        f0 = team_features_df.loc[(team_features_df['Team_Id'] == game['team0']) & in_season[game['Season']], feature.__name__].values[0]
        f1 = team_features_df.loc[(team_features_df['Team_Id'] == game['team1']) & in_season[game['Season']], feature.__name__].values[0]
        return pd.Series({feature.__name__+'0':f0, feature.__name__+'1':f1})
    return mod

847 tournament games in the dataset

In [6]:
# UNCOMMENT THESE LINES IF YOU WANT TO REGENERATE THE TRAINING DATA FILE FROM SCRATCH
for feature in [team0, team1]:
    tourney_df[feature.__name__] = tourney_df.apply(feature, axis=1)

# first add all the features for individual teams
for feature in teamfList:
    tourney_df = pd.concat([tourney_df, tourney_df.apply(feature01(feature), axis=1)], axis=1)
    
tourney_df.head()

847 tournament games in the dataset

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,std_stl0,std_stl1,avg_blk0,avg_blk1,std_blk0,std_blk1,avg_pf0,avg_pf1,std_pf0,std_pf1
0,2003,134,1421,92,1411,84,N,1,32,69,...,2.31,3.14,2.23,3.00,1.72,1.65,18.30,19.10,4.56,3.69
1,2003,136,1112,80,1436,51,N,0,31,66,...,3.65,3.50,4.21,2.97,2.01,1.72,17.75,15.90,2.99,4.05
2,2003,136,1113,84,1272,71,N,0,31,59,...,2.14,3.16,4.24,5.07,2.94,3.16,19.41,18.76,3.25,4.34
3,2003,136,1141,79,1166,73,N,0,29,53,...,2.82,2.94,4.45,4.00,2.22,2.35,17.27,20.97,3.12,4.81
4,2003,136,1143,76,1301,74,N,1,27,64,...,2.64,3.63,2.79,3.07,1.63,2.49,17.10,18.67,3.74,4.21

# Add game features here

In addition to having features for each team separately, e.g., avg field goals made, we might try features for how two teams relate to one another, i.e., a feature that requires knowledge of the specific two teams in a game.  Add them in the cell below and update gamefList in the cell below that:

In [7]:
def gamefeature(game): # add here any features specific to a game, i.e., how to teams interact
    pass

In [6]:
gamefList=[] # features specific to a pair of teams (rather than to an individual team, e.g., seed difference, but not e.g. team seed)
print("Game features added = {0}".format([f.__name__ for f in gamefList]))

Gane features added = []

In [8]:
# now add features specific to a game (pair of teams)
for feature in gamefList:
    tourney_df[feature.__name__] = tourney_df.apply(feature, axis=1)
    
tourney_df.to_csv(training_data_output_file, encoding='ascii')
tourney_df.head()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,std_stl0,std_stl1,avg_blk0,avg_blk1,std_blk0,std_blk1,avg_pf0,avg_pf1,std_pf0,std_pf1
0,2003,134,1421,92,1411,84,N,1,32,69,...,2.31,3.14,2.23,3.00,1.72,1.65,18.30,19.10,4.56,3.69
1,2003,136,1112,80,1436,51,N,0,31,66,...,3.65,3.50,4.21,2.97,2.01,1.72,17.75,15.90,2.99,4.05
2,2003,136,1113,84,1272,71,N,0,31,59,...,2.14,3.16,4.24,5.07,2.94,3.16,19.41,18.76,3.25,4.34
3,2003,136,1141,79,1166,73,N,0,29,53,...,2.82,2.94,4.45,4.00,2.22,2.35,17.27,20.97,3.12,4.81
4,2003,136,1143,76,1301,74,N,1,27,64,...,2.64,3.63,2.79,3.07,1.63,2.49,17.10,18.67,3.74,4.21

# Generate Features for Submission Data

The cells below take the games Kaggle wants us to submit, and generates the corresponding features for them like we do above for the training data.  `submission_data_output_file` is the name of the output file to write the submission data for our model to load and predict.

In [10]:
import pandas as pd
import numpy as np
submission_data_with_features_file = 'data/SampleSubmissionWithFeatures.csv'

In [11]:
print("Adding following Team Features to {0}: {1}".format(submission_data_with_features_file, [f.__name__ for f in teamfList]))
print("Adding following Game Features to {0}: {1}".format(submission_data_with_features_file, [f.__name__ for f in gamefList]))

Adding following Team Features to data/SampleSubmissionWithFeatures.csv: ['wins', 'avg_fgm', 'std_fgm', 'avg_fga', 'std_fga', 'avg_fgm3', 'std_fgm3', 'avg_fga3', 'std_fga3', 'avg_ftm', 'std_ftm', 'avg_fta', 'std_fta', 'avg_or', 'std_or', 'avg_dr', 'std_dr', 'avg_ast', 'std_ast', 'avg_to', 'std_to', 'avg_stl', 'std_stl', 'avg_blk', 'std_blk', 'avg_pf', 'std_pf']
Adding following Game Features to data/SampleSubmissionWithFeatures.csv: []

In [18]:
sample_df = pd.read_csv('data/SampleSubmission.csv')

def get_season(Id):
    return np.int64(Id.split("_")[0])
def get_team0(Id):
    return np.int64(Id.split("_")[1])
def get_team1(Id):
    return np.int64(Id.split("_")[2])

# UNCOMMENT THESE LINES IF YOU WANT TO REGENERATE THE SUBMISSION FEATURES FROM SCRATCH
sample_df['Season'] = sample_df['Id'].apply(get_season)
sample_df['team0'] = sample_df['Id'].apply(get_team0)
sample_df['team1'] = sample_df['Id'].apply(get_team1)

# first add all the features for individual teams
for feature in teamfList:
    sample_df = pd.concat([sample_df, sample_df.apply(feature01(feature), axis=1)], axis=1)
    
# now add features specific to a game (pair of teams)
for feature in gamefList:
    tourney_df[feature.__name__] = tourney_df.apply(feature, axis=1)
    
sample_df.to_csv(submission_data_with_features_file, encoding='ascii')
sample_df.head()

,Id,Pred,Season,team0,team1,wins0,wins1,avg_fgm0,avg_fgm1,std_fgm0,...,std_stl0,std_stl1,avg_blk0,avg_blk1,std_blk0,std_blk1,avg_pf0,avg_pf1,std_pf0,std_pf1
0,2012_1104_1124,0.5,2012,1104,1124,21,26,23.62,26.09,3.63,...,3.51,2.89,4.16,4.64,2.68,2.98,18.41,17.64,4.01,4.30
1,2012_1104_1125,0.5,2012,1104,1125,21,26,23.62,27.91,3.63,...,3.51,2.83,4.16,2.24,2.68,1.68,18.41,18.27,4.01,4.01
2,2012_1104_1140,0.5,2012,1104,1140,21,23,23.62,27.97,3.63,...,3.51,3.44,4.16,4.19,2.68,1.72,18.41,18.45,4.01,4.44
3,2012_1104_1143,0.5,2012,1104,1143,21,24,23.62,26.42,3.63,...,3.51,1.67,4.16,3.15,2.68,1.39,18.41,14.39,4.01,3.69
4,2012_1104_1153,0.5,2012,1104,1153,21,24,23.62,25.06,3.63,...,3.51,3.01,4.16,4.59,2.68,2.74,18.41,15.15,4.01,3.21

# Tutorial for adding a new feature

All functions to populate a feature should take a game, i.e., a row of `tourney_df`,

In [11]:
game = tourney_df.loc[0]
print(game)

Season       2003
Daynum        134
Wteam        1421
Wscore         92
Lteam        1411
Lscore         84
Wloc            N
Numot           1
Wfgm           32
Wfga           69
Wfgm3          11
Wfga3          29
Wftm           17
Wfta           26
Wor            14
Wdr            30
Wast           17
Wto            12
Wstl            5
Wblk            3
Wpf            22
Lfgm           29
Lfga           67
Lfgm3          12
Lfga3          31
Lftm           14
Lfta           31
Lor            17
Ldr            28
Last           16
            ...
std_fta0      8.2
std_fta1     9.02
avg_or0     13.17
avg_or1     12.28
std_or0      4.86
std_or1      3.73
avg_dr0      24.8
avg_dr1     23.17
std_dr0      5.55
std_dr1      5.44
avg_ast0     14.2
avg_ast1    13.03
std_ast0      4.4
std_ast1     4.79
avg_to0     15.23
avg_to1     16.21
std_to0      4.03
std_to1         5
avg_stl0     6.43
avg_stl1     7.07
std_stl0     2.31
std_stl1     3.14
avg_blk0     2.23
avg_blk1        3
std_blk0     1.72
std_blk1     1.65
avg_pf0      18.3
avg_pf1      19.1
std_pf0      4.56
std_pf1      3.69
Name: 0, dtype: object

If it's a feature specific to a team, name it 0 or 1, and access team0's and/or team1's ID using the corresponding column.  `team_name` is a dictionary that takes a team ID and returns the name, and `team_id` is a dictionary that takes a team name and returns the ID.  You can use these to match up data you find elsewhere.

The function should return the value for your new feature.  As a simple example, to make a feature with the team's name,

In [18]:
def name0(game):
    ID = game['team0']
    
    # Examples of using the dictionaries
    name = team_name[ID] 
    print(team_id[name]) 
    
    return name

name0(tourney_df.loc[0])

1411

'TX Southern'

# More Realistic Example

I had to look at different pandas examples/tutorials, but this might get you started.  For `wins0`, I wanted to be able to return the number of games `team0` won in the regular season.  What we actually have is a list of games, each of which have a winning team.  So we need to find all the games where `team0` was the winner, and add them all up.  So we start with the column that has all the IDs of the winning teams for each game.

In [19]:
wteam = season_df['Wteam']
print(wteam.head())

0    1104
1    1272
2    1266
3    1296
4    1400
Name: Wteam, dtype: int64

Now we make a boolean array that has the same length as `wteam` above, with `True` if the winning team is `team0` (which we take to be 1106 in this example):

In [20]:
games_where_1106_won = season_df['Wteam'] == 1106
print(games_where_1106_won.head())

0    False
1    False
2    False
3    False
4    False
Name: Wteam, dtype: bool

In [21]:
games_1106_won = wteam[games_where_1106_won]
print(games_1106_won.head())

613     1106
1095    1106
1584    1106
1714    1106
1873    1106
Name: Wteam, dtype: int64

But this has games for all seasons mixed together, so we have to choose the right season.  Say the game for which we're trying to make the feature happend in 2012.  Then we need another mask like we used above to separate the games where 1106 won, but this time for the season:

In [22]:
in_2012 = season_df['Season'] == 2012
print(in_2012.head())

0    False
1    False
2    False
3    False
4    False
Name: Season, dtype: bool

We can put boolean masks together like this:

In [23]:
games_1106_won_in_2012 = wteam[games_where_1106_won & in_2012]
print(games_1106_won_in_2012.head())

45628    1106
46766    1106
46845    1106
47078    1106
47248    1106
Name: Wteam, dtype: int64

For convenience, I've made a dictionary `in_season` that takes a year, and gives you the corresponding boolean mask for that year.  Using that notation, and finally also using the `is_valid` mask, which ensures that the game is valid (WTeam != 0), we have

In [24]:
games_1106_won_in_2012 = wteam[games_where_1106_won & in_season[2012] & is_valid]
print(games_1106_won_in_2012.head())

45628    1106
46766    1106
46845    1106
47078    1106
47248    1106
Name: Wteam, dtype: int64

We can now get the length of the final array of filtered values using `shape`, and taking `[0]`, which gives the number of rows.  A minor final detail is that all these new variables make copies of slices of the dataframes, so it's slightly more efficient to do things without making copies with the `loc` function, which explains the one-liners in the wins0 and wins1 functions above:

In [25]:
print(games_1106_won_in_2012.shape[0])
print(season_df.loc[(season_df['Wteam'] == 1106) & in_season[2012] & is_valid].shape[0])

10
10

# Additional Features

Someother features to consider on the historic record of one Seed versus another. And the spread betting record. Here is an example of generate feature from data/TourneySeedBetting.csv

**TBD: find resource for 2016 league**

In [26]:
tourney_seeddf = pd.read_csv('data/TourneySeedBetting.csv')
tourney_seeddf.head()

### Wseed gives the Seed for the winning team, Lseed gives the Seed for the losing team. 
### meanProb gives the Probability of the team with the smaller seed wins, numProb 
### gives the number of games this probability was calculated based on
### spreadbet give the spreadbetting from covers on the winning team versus losing team.

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wseed,Lseed,meanProb,numProb,spreadbet
0,2011,134,1155,70,1412,52,N,0,12,12,0.50,1,0
1,2011,134,1421,81,1114,77,N,1,16,16,0.50,1,0
2,2011,135,1427,70,1106,61,N,0,16,16,0.50,1,0
3,2011,135,1433,59,1425,46,N,0,11,11,0.50,1,0
4,2011,136,1139,60,1330,58,N,0,8,9,0.51,124,1

In [27]:
def meanprob(game):
    return tourney_seeddf[(tourney_seeddf['Wteam'] == game['Wteam']) & (tourney_seeddf['Lteam']==game['Lteam']) & (tourney_seeddf['Season']==game['Season'])]['meanProb']

In [28]:
game = tourney_df[tourney_df['Season']==2011].iloc[0]
print game.head()
meanprob(game)

Season    2011
Daynum     134
Wteam     1155
Wscore      70
Lteam     1412
Name: 512, dtype: object

0    0.5
Name: meanProb, dtype: float64