# This is almost the same as svm.ipynb, but writes out the write_submission_file function so you see output along the way.  Please double-check

In [1]:
import pandas as pd
import numpy as np
    
tourney_df = pd.read_csv("data/data.csv", index_col=0)
tourney_df.head()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lstl,Lblk,Lpf,Wteam_name,Lteam_name,Winner,team0,team1,wins0,wins1
0,2003,134,1421,92,1411,84,N,1,32,69,...,5,0,22,UNC Asheville,TX Southern,0,1421,1411,13,18
1,2003,136,1112,80,1436,51,N,0,31,66,...,10,3,15,Arizona,Vermont,1,1436,1112,19,25
2,2003,136,1113,84,1272,71,N,0,31,59,...,2,5,18,Arizona St,Memphis,1,1272,1113,23,18
3,2003,136,1141,79,1166,73,N,0,29,53,...,6,6,21,C Michigan,Creighton,0,1141,1166,23,29
4,2003,136,1143,76,1301,74,N,1,27,64,...,5,8,19,California,NC State,1,1301,1143,18,21

In [2]:
featureList = ['wins0', 'wins1']
y = tourney_df['Winner'].values # results
X = tourney_df[featureList].values # features

In [3]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=1)

In [4]:
from sklearn import svm
model = svm.SVC(probability=True)
model.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=True, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [5]:
y_pred = model.predict_proba(X_test)[:,0] # probability that team0 wins (what Kaggle calls team 1, and wants for submission)
for i in range(5):
    print("Features = {0}, Pred. prob. team0 wins: {1}".format(X_test[i], y_pred[i]))

Features = [30 26], Pred. prob. team0 wins: 0.4902577090785457
Features = [25 33], Pred. prob. team0 wins: 0.411391006236293
Features = [32 27], Pred. prob. team0 wins: 0.5
Features = [24 22], Pred. prob. team0 wins: 0.35669343552995064
Features = [26 29], Pred. prob. team0 wins: 0.49440936937301777

# Could you double-check I'm calculating this correctly?

Just realized Kaggle uses the convention for scoring that the label is 1 if the first team wins, and 0 if the second.  We use 0 if team0 wins, 1 if team1 wins.  I think what's below works...passing y_pred, i.e. the probability that the first team wins (i.e. what we call team0, what they call team 1), and 1-y_test, so that 1-y = 0 when team1 wins (their team2) and 1-y = 1 when team0 wins (their team1).  Please compare http://scikit-learn.org/stable/modules/generated/sklearn.metrics.log_loss.html and https://www.kaggle.com/c/march-machine-learning-mania-2016/details/evaluation to make sure we're doing the same thing.  It's late and I'm not thinking straight.

In [6]:
from sklearn import metrics
print("Log loss is {0}".format(metrics.log_loss(1-y_test, y_pred)))

Log loss is 0.6445127649406421

In [7]:
import pandas as pd
sample = pd.read_csv('data/sample.csv', index_col=0)

In [8]:
sample.head()

               Id  Pred  Season  team0  team1  wins0  wins1
0  2012_1104_1124   0.5    2012   1104   1124     21     26
1  2012_1104_1125   0.5    2012   1104   1125     21     26
2  2012_1104_1140   0.5    2012   1104   1140     21     23
3  2012_1104_1143   0.5    2012   1104   1143     21     24
4  2012_1104_1153   0.5    2012   1104   1153     21     24

In [9]:
Xsample = sample[featureList].values

In [10]:
sample['Pred'] = model.predict_proba(Xsample)[:,0]
sample.head(10)

               Id      Pred  Season  team0  team1  wins0  wins1
0  2012_1104_1124  0.379859    2012   1104   1124     21     26
1  2012_1104_1125  0.379859    2012   1104   1125     21     26
2  2012_1104_1140  0.385549    2012   1104   1140     21     23
3  2012_1104_1143  0.377617    2012   1104   1143     21     24
4  2012_1104_1153  0.377617    2012   1104   1153     21     24
5  2012_1104_1160  0.555934    2012   1104   1160     21     21
6  2012_1104_1161  0.607566    2012   1104   1161     21     20
7  2012_1104_1163  0.607566    2012   1104   1163     21     20
8  2012_1104_1166  0.354267    2012   1104   1166     21     28
9  2012_1104_1172  0.377617    2012   1104   1172     21     24

In [11]:
submission = sample[['Id', 'Pred']]
submission.head()

               Id      Pred
0  2012_1104_1124  0.379859
1  2012_1104_1125  0.379859
2  2012_1104_1140  0.385549
3  2012_1104_1143  0.377617
4  2012_1104_1153  0.377617

In [12]:
submission.to_csv("data/submission.csv", encoding='ascii')