In [1]:
import pandas as pd
import numpy as np
tourney_df = pd.read_csv("data.csv", index_col=0)
tourney_df.head()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lstl,Lblk,Lpf,Wteam_name,Lteam_name,Winner,team0,team1,wins0,wins1
0,2003,134,1421,92,1411,84,N,1,32,69,...,5,0,22,UNC Asheville,TX Southern,0,1421,1411,13,18
1,2003,136,1112,80,1436,51,N,0,31,66,...,10,3,15,Arizona,Vermont,1,1436,1112,19,25
2,2003,136,1113,84,1272,71,N,0,31,59,...,2,5,18,Arizona St,Memphis,1,1272,1113,23,18
3,2003,136,1141,79,1166,73,N,0,29,53,...,6,6,21,C Michigan,Creighton,0,1141,1166,23,29
4,2003,136,1143,76,1301,74,N,1,27,64,...,5,8,19,California,NC State,1,1301,1143,18,21

In [2]:
featureList = ['wins0', 'wins1'] # put in what features you want to use here (look up columns in table above)
y = tourney_df['Winner'].values # results
X = tourney_df[featureList].values # features

In [3]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=1)

In [4]:
from sklearn import svm
model = svm.SVC()
model.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [5]:
from sklearn import metrics
y_pred = model.predict(X_test)
print(metrics.accuracy_score(y_test, y_pred))

0.637168141593