In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from calcutta import Syndicate, Calcutta

try:
    plt.style.use('paper')
except:
    print("plot style not found")

In [2]:
year='2015'
poolactual = 944.
poolestimate =944.
draftfull = pd.read_pickle(year+'/draftfull.pkl')
simtourneys = np.load(year+'/simtourneys.npy')
bracketfile = year+'/bracket.pkl'
calcutta = Calcutta(['Medlen', 'Duke', 'Robbie', 'Raj', 'Prasad'], poolestimate=poolestimate., bracketfile=year+'/bracket.pkl', simtourneysfile=year+'/simtourneys.npy')

In [3]:
draftfull.head()

        Team         Mason Team TeamID Seed  Fraction Owned  Amount Syndicate
0  Villanova          Villanova   1437    1             1.0    35.0      Duke
1  SF Austin  Stephen F. Austin   1372   12             1.0     2.0      Duke
2    Arizona            Arizona   1112    2             1.0    45.0      Duke
3    Ohio St         Ohio State   1326   10             1.0     7.0      Duke
4   Davidson           Davidson   1172   10             1.0     4.0    Medlen

In [ ]:
pools = []
for i, row in draftfull.iterrows():
    pools.append(calcutta.poolestimate)
    calcutta.buy(row['Team'], row['Syndicate'], row['Amount'], plot=False)

In [ ]:
fig, ax = plt.subplots()
ax.plot(range(len(pools)), (np.array(pools)-poolactual)/poolactual, '.')