In [14]:
import pandas as pd
import numpy as np

class FeatureFileGenerator(object):
    def __init__(self):
        np.random.seed(0) # seed so we always get same answer
    
    def new_file(self, filename):
        t_df = pd.read_csv('data/TourneyCompactResults.csv')
        t_df = self.randomize_teams(t_df)
        t_df['TourneyGame'] = np.full(t_df.shape[0], 1)
                
        #s_df = pd.read_csv('data/RegularSeasonCompactResults.csv')
        #s_df = self.randomize_teams(s_df)
        #s_df['TourneyGame'] = np.full(s_df.shape[0], 0)
        
        #df = pd.concat([t_df, s_df], ignore_index=True)
        t_df.to_csv(filename, encoding='ascii')
        
    def randomize_teams(self, df):
        df = df[df['Season'] > 2002]
        
        Ngames = df.shape[0]
        df['team0Win'] = np.random.randint(2,size=Ngames)
        
        for feature in [self.team0, self.team1]:
            df[feature.__name__] = df.apply(feature, axis=1)
        
        return df

    def team0(self, game):
        if game['team0Win'] == 1:
            return game['Wteam']
        else:
            return game['Lteam']

    def team1(self, game):
        if game['team0Win'] == 1:
            return game['Lteam']
        else:
            return game['Wteam']

In [6]:
import ipyparallel as ipp
c = ipp.Client()
view = c.load_balanced_view()

/Users/dtamayo/miniconda2/envs/p3/lib/python3.5/site-packages/ipyparallel/client/client.py:436: RuntimeWarning:
            Controller appears to be listening on localhost, but not on this machine.
            If this is true, you should specify Client(...,sshserver='you@10.8.145.14')
            or instruct your controller to listen on an external IP.
  RuntimeWarning)

In [23]:
#%%px --local

import numpy as np
import pandas as pd

class FeatureAdder(object):
    def __init__(self, df):
        self.df = df
        
    def feature01(self, feature):
        def mod(game):
            f0 = team_features_df.loc[(team_features_df['Team_Id'] == game['team0']) & in_season[game['Season']], feature.__name__].values[0]
            f1 = team_features_df.loc[(team_features_df['Team_Id'] == game['team1']) & in_season[game['Season']], feature.__name__].values[0]
            return pd.Series({feature.__name__+'0':f0, feature.__name__+'1':f1})
        return mod
     
    def massey(self):
        self.massey_init()
        self.df = pd.concat([self.df, self.df.apply(self.massey_game, axis=1)], axis=1)

    def massey_init(self):
        self.massey_df = pd.read_csv('data/massey_ordinals_2003-2015.csv')
        
        # Create dictionaries for boolean masks

        self.massey_seasons = self.massey_df['season'].unique()
        self.in_massey_season = dict(zip(self.massey_seasons, [self.massey_df['season'] == i for i in self.massey_seasons]))

        self.massey_day_nums = self.massey_df['rating_day_num'].unique()
        self.is_massey_day_num = dict(zip(self.massey_day_nums, [self.massey_df['rating_day_num'] == i for i in self.massey_day_nums]))

        self.massey_teams = self.massey_df['team'].unique()
        self.is_massey_team = dict(zip(self.massey_teams, [self.massey_df['team'] == i for i in self.massey_teams]))

        self.massey_systems = self.massey_df['sys_name'].unique()
        self.is_massey_system = dict(zip(self.massey_systems, [self.massey_df['sys_name'] == i for i in self.massey_systems]))

    def massey_game(self, game): # add here any features specific to a game, i.e., how do teams interact       
        print(game['Unnamed: 0'])
        try:
            daynum = game['Daynum']
        except:
            daynum = 134 # submission file games don't have daynum, but are all after day 133 (last day before tourney)

        latest_day = np.max(self.massey_day_nums[self.massey_day_nums < daynum]) # only take ordinals from dates that happened before the game, and take latest one of those
        ordinals0 = [self.getOrdinal(game['Season'], self.massey_systems[i], latest_day, game['team0']) for i in range(len(self.massey_systems))]
        ordinals1 = [self.getOrdinal(game['Season'], self.massey_systems[i], latest_day, game['team1']) for i in range(len(self.massey_systems))]
        f0 = pd.Series(ordinals0, index=[self.massey_systems[i]+'0' for i in range(len(self.massey_systems))])   
        f1 = pd.Series(ordinals1, index=[self.massey_systems[i]+'1' for i in range(len(self.massey_systems))])   
        return pd.concat([f0,f1])
    
    def getOrdinal(self, season, system, day, team):
        try:
            ordinal = np.float64(self.massey_df.loc[self.in_massey_season[season] & self.is_massey_system[system] & self.is_massey_day_num[day] & self.is_massey_team[team], 'orank'].values[0])
        except IndexError:
            ordinal = np.nan
        return ordinal

def add_features(df):
    dfa = FeatureAdder(df)
    dfa.massey()
    return dfa.df

In [8]:
f = FeatureFileGenerator()
f.new_file('data/tourneydata.csv')

/Users/dtamayo/miniconda2/envs/p3/lib/python3.5/site-packages/ipykernel/__main__.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/dtamayo/miniconda2/envs/p3/lib/python3.5/site-packages/ipykernel/__main__.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/dtamayo/miniconda2/envs/p3/lib/python3.5/site-packages/numpy/core/numeric.py:294: FutureWarning: in the future, full(847, 1) will return an array of dtype('int64')
  format(shape, fill_value, array(fill_value).dtype), FutureWarning)

In [31]:
df = pd.read_csv('data/tourneydata.csv')

In [32]:
add_features(df)

1136
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610
1611
1612
1613
1614
1615
1616
1617
1618
1619
1620
1621
1622
1623
1624
1625
1626
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714
1715
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1757
1758
1759
1760
1761
1762
1763
1764
1765
1766
1767
1768
1769
1770
1771
1772
1773
1774
1775
1776
1777
1778
1779
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1793
1794
1795
1796
1797
1798
1799
1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860
1861
1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982

,Unnamed: 0,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,team0Win,...,STF1,WMR1,PPR1,MPI1,STS1,UPS1,SPR1,MvG1,TRK1,BWE1
0,1136,2003,134,1421,92,1411,84,N,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1137,2003,136,1112,80,1436,51,N,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1138,2003,136,1113,84,1272,71,N,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1139,2003,136,1141,79,1166,73,N,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1140,2003,136,1143,76,1301,74,N,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1141,2003,136,1163,58,1140,53,N,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1142,2003,136,1181,67,1161,57,N,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1143,2003,136,1211,74,1153,69,N,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1144,2003,136,1228,65,1443,60,N,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1145,2003,136,1242,64,1429,61,N,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1146,2003,136,1266,72,1221,68,N,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1147,2003,136,1281,72,1356,71,N,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1148,2003,136,1323,70,1454,69,N,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1149,2003,136,1328,71,1354,54,N,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1150,2003,136,1390,77,1360,69,N,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1151,2003,136,1409,84,1173,71,N,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1152,2003,136,1458,81,1451,74,N,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1153,2003,137,1120,65,1386,63,N,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1154,2003,137,1139,47,1280,46,N,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1155,2003,137,1196,85,1358,55,N,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1156,2003,137,1231,67,1104,62,N,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1157,2003,137,1246,95,1237,64,N,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1158,2003,137,1257,86,1122,64,N,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1159,2003,137,1268,75,1423,73,N,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1160,2003,137,1277,79,1160,64,N,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1161,2003,137,1329,77,1335,63,N,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1162,2003,137,1338,87,1447,61,N,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1163,2003,137,1345,80,1261,56,N,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1164,2003,137,1393,76,1264,65,N,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1165,2003,137,1400,82,1421,61,N,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817,1953,2015,138,1246,64,1153,51,N,0,1,...,54.0,NaN,NaN,NaN,30.0,NaN,51.0,41.0,45.0,45.0
818,1954,2015,138,1301,71,1437,68,N,0,0,...,34.0,NaN,NaN,NaN,41.0,NaN,32.0,39.0,30.0,33.0
819,1955,2015,138,1314,87,1116,78,N,0,0,...,9.0,NaN,NaN,NaN,15.0,NaN,14.0,14.0,10.0,11.0
820,1956,2015,138,1323,67,1139,64,N,1,0,...,12.0,NaN,NaN,NaN,11.0,NaN,6.0,10.0,15.0,9.0
821,1957,2015,138,1417,92,1412,75,N,0,0,...,48.0,NaN,NaN,NaN,57.0,NaN,53.0,51.0,49.0,41.0
822,1958,2015,138,1428,75,1207,64,N,0,0,...,10.0,NaN,NaN,NaN,20.0,NaN,15.0,22.0,7.0,12.0
823,1959,2015,138,1462,75,1209,67,N,0,1,...,80.0,NaN,NaN,NaN,53.0,NaN,87.0,90.0,86.0,81.0
824,1960,2015,139,1181,68,1361,49,N,0,1,...,36.0,NaN,NaN,NaN,33.0,NaN,26.0,29.0,31.0,37.0
825,1961,2015,139,1211,87,1234,68,N,0,1,...,30.0,NaN,NaN,NaN,49.0,NaN,28.0,35.0,21.0,27.0
826,1962,2015,139,1257,66,1320,53,N,0,1,...,26.0,NaN,NaN,NaN,10.0,NaN,17.0,16.0,24.0,19.0
827,1963,2015,139,1277,60,1438,54,N,0,1,...,6.0,NaN,NaN,NaN,6.0,NaN,4.0,4.0,3.0,5.0
828,1964,2015,139,1328,72,1173,66,N,0,0,...,13.0,NaN,NaN,NaN,17.0,NaN,12.0,18.0,9.0,13.0
829,1965,2015,139,1452,69,1268,59,N,0,0,...,18.0,NaN,NaN,NaN,21.0,NaN,18.0,21.0,23.0,22.0
830,1966,2015,139,1455,78,1242,65,N,0,1,...,8.0,NaN,NaN,NaN,8.0,NaN,9.0,7.0,11.0,8.0
831,1967,2015,139,1458,72,1332,65,N,0,1,...,38.0,NaN,NaN,NaN,28.0,NaN,38.0,24.0,55.0,35.0
832,1968,2015,143,1112,68,1462,60,N,0,1,...,27.0,NaN,NaN,NaN,35.0,NaN,29.0,28.0,25.0,29.0
833,1969,2015,143,1246,78,1452,39,N,0,1,...,18.0,NaN,NaN,NaN,21.0,NaN,18.0,21.0,23.0,22.0
834,1970,2015,143,1323,81,1455,70,N,0,1,...,19.0,NaN,NaN,NaN,16.0,NaN,19.0,20.0,19.0,18.0
835,1971,2015,143,1458,79,1314,72,N,0,1,...,9.0,NaN,NaN,NaN,15.0,NaN,14.0,14.0,10.0,11.0
836,1972,2015,144,1181,63,1428,57,N,0,1,...,10.0,NaN,NaN,NaN,20.0,NaN,15.0,22.0,7.0,12.0
837,1973,2015,144,1211,74,1417,62,N,0,1,...,48.0,NaN,NaN,NaN,57.0,NaN,53.0,51.0,49.0,41.0
838,1974,2015,144,1257,75,1301,65,N,0,0,...,15.0,NaN,NaN,NaN,18.0,NaN,16.0,15.0,17.0,15.0
839,1975,2015,144,1277,62,1328,58,N,0,0,...,17.0,NaN,NaN,NaN,23.0,NaN,22.0,27.0,16.0,16.0
840,1976,2015,145,1246,68,1323,66,N,0,0,...,1.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0
841,1977,2015,145,1458,85,1112,78,N,0,1,...,4.0,NaN,NaN,NaN,5.0,NaN,5.0,5.0,2.0,3.0
842,1978,2015,146,1181,66,1211,52,N,0,1,...,7.0,NaN,NaN,NaN,7.0,NaN,8.0,8.0,8.0,7.0
843,1979,2015,146,1277,76,1257,70,N,1,1,...,15.0,NaN,NaN,NaN,18.0,NaN,16.0,15.0,17.0,15.0
844,1980,2015,152,1181,81,1277,61,N,0,1,...,17.0,NaN,NaN,NaN,23.0,NaN,22.0,27.0,16.0,16.0
845,1981,2015,152,1458,71,1246,64,N,0,0,...,2.0,NaN,NaN,NaN,3.0,NaN,7.0,3.0,4.0,2.0
846,1982,2015,154,1181,68,1458,63,N,0,0,...,5.0,NaN,NaN,NaN,4.0,NaN,3.0,6.0,6.0,6.0

In [34]:
df.to_csv('data/tourneydata.csv', encoding='ascii')

In [36]:
dfnew = _32

In [39]:
dfnew.shape

(847, 277)

In [35]:
df.head()

,Unnamed: 0,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,team0Win,team0,team1,TourneyGame
0,1136,2003,134,1421,92,1411,84,N,1,0,1411,1421,1.0
1,1137,2003,136,1112,80,1436,51,N,0,1,1112,1436,1.0
2,1138,2003,136,1113,84,1272,71,N,0,1,1113,1272,1.0
3,1139,2003,136,1141,79,1166,73,N,0,0,1166,1141,1.0
4,1140,2003,136,1143,76,1301,74,N,1,1,1143,1301,1.0

In [23]:
Ncores=2*8
dfsplit = np.array_split(df,Ncores)
        
import os
view.map_sync(os.chdir, [os.getcwd()]*Ncores)
c[:].apply_sync(os.getcwd)

['/Users/dtamayo/Documents/NCAAbasketball',
 '/Users/dtamayo/Documents/NCAAbasketball']

In [24]:
dfs = view.map_sync(add_features, dfsplit)

In [25]:
dfnew = pd.concat([df for df in dfs])
dfnew.tail()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,team0Win,team0,...,STF1,WMR1,PPR1,MPI1,STS1,UPS1,SPR1,MvG1,TRK1,BWE1
1202,2004,136,1163,70,1436,53,N,0,0,1436,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1203,2004,136,1177,76,1173,69,N,2,0,1173,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1204,2004,136,1181,96,1106,61,N,0,0,1106,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1205,2004,136,1211,76,1434,49,N,0,0,1434,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1206,2004,136,1264,75,1196,60,N,0,1,1264,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
dfnew.shape

(71, 276)

In [101]:
dfnew = pd.concat([df for df in dfs])
dfnew.to_csv('data/tourneydata.csv', encoding='ascii')